@use "../mixins/typography" as *;
@use "../mixins/hover" as *;

.contact-container {
  position: relative;
  background: linear-gradient(rgba(0,0,0,1) 50%,rgba(0,0,0,0.3));
  padding-top: 7rem;
  
}

.page-heading3 {
  text-align: center;
  @include text_shadow;
}

.contact {
  position: relative;
  

  &-details {
    padding: 20px;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;

    .profile-card {
      width: 350px;
      height: 480px;
      backdrop-filter: blur(55px);
      border: 1px solid #999;
      box-shadow: #fff 0px 0px 25px 1px;
      position: relative;

      .image {
        width: 100%;
        height: 30%;
        background: url("../img/IMG_wide.webp") 50% 50%;
        background-size: cover;
        margin-bottom: 10px;
        // transform: scale(2);
      }

      .social-icons {
        color: #fff;
        padding: 0 15px;

        hr {
          margin: 10px 0px 10px 0px;
        }

        h4 {
          text-align: left;
          font-size: 18px;
          margin-bottom: 5px;
        }
        p {
          font-weight: 400;
          font-size: 12px;
          text-align: left;
          margin-bottom: 5px;
          letter-spacing: 1px;
        }

        .resume-view {
          text-decoration: none;
          color: #fff;
          background-color: #1cb0f6;
          border-radius: 10px;
          font-size: 12px;
          padding: 3px 8px;
          position: relative;
          margin-bottom: 5px;
          outline: none;
          border: none;
          cursor: pointer;

          &:hover {
            background-color: #117bac;
          }
        }

        .icons {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          margin-bottom: 5px;
          font-size: 25px;

          a:hover {
            transform: scale(1.1);
          }
        }

        .phone {
          font-size: 15px;
          i {
            font-size: 15px;
            margin-right: 5px;
          }
        }

        .mail {
          font-size: 15px;
          i {
            font-size: 15px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.contact-form {
  width: 350px;
  height: 450px;
  backdrop-filter: blur(55px);
  border: 1px #999 solid;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  box-shadow: #fff 0px 0px 25px 1px;

  h1 {
    color: #fff;
  }

  input {
    width: 50%;
    padding: 5px;
    outline: none;
    border: none;
    background-color: transparent;
    color: #ffffff;
    border: #fff 1px solid;
    font-size: 12px;
    font-family: poppins, sans-serif;
    letter-spacing: 1px;
  }
  textarea {
    width: 80%;
    background-color: transparent;
    color: #fff;
    padding: 5px;
    border: #fff 1px solid;
    letter-spacing: 1px;
  }

  button {
    padding: 5px;
    align-self: flex-start;
    border: none;

    &:hover {
      @include glow_white;
      transform: scale(1.1);
    }
  }
}



.video-bg > video{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
}

// responsive design

@media (max-width: 992px) {
  .contact-details {
    gap: 20px;
    padding: 5px;
  }

  .contact-form {
    width: 330px;
  }
}

@media (max-width: 768px) {
  .contact-details {
    gap: 80px;
    padding: 5px;
    flex-direction: column;
    margin-top: 80px;
  }
}

@media (max-width: 576px) {
  .contact-details {
    gap: 60px;
    padding: 0px;
    flex-direction: column;
    margin-top: 80px;
    height: auto;

    .profile-card {
      width: 90%;
      margin: 0;
      padding: 0;
      height: auto;

      .image {
        width: 100%;
        height: 150px;
      }
    }

    .contact-form {
      width: 80%;
    }
  }
}
